body {
  padding: 0;
  margin: 0;
}

/* Oculta por padrão os icons de editar e exlcuir das datagrids,
para não ausar distrações 
*/ 
.muiDataGrid-row button {
  visibility: hidden;
}

/* 
  Quando o mouse passar sobre uma linha de um datagrid, os botões de editar e excuir dessa linha ficam invisiveis
*/ 

.muiDataGrid-row:hover button {
  visibility: visible;
}

/* Regras para colocar dois campos de formulario lado a lado quando houver largura suficiente para isso */ 

.form-fields form{
  margin: 0 auto;
  width: 95%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form-fields .MuiFormControl-root {
  min-width: 250px;
  max-width: 600px;
  width: 600px;
  margin-bottom: 36px;
}